@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	--background: #1a1a1a;
	--darker-background: #121212;
	--darkest-background: #0d0d0d;
	--foreground: #f0f0f0;
	--accent: #007ab3;
	--accent-hover: #005c8b;
	&.light {
		--background: #f8f8f8;
		--darker-background: #f0f4ff;
		--darkest-background: #2a2d33;
		--foreground: #222;
		--accent: #578efe;
		--accent-hover: #4f7ff7;
		--disabled-btn: #c0c0c0;
	}	
}


body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	width: 100%;
	background: var(--darker-background);

	h1 {
		text-align: center;
		width: 100%;
		margin: 0;
	}
	button.fab {
		position: relative;
	}
}

.main-content {
	flex: 1;
	overflow-y: auto;
	padding: 12px 64px;
	width: 100%;
}
@media screen and (max-width: 600px) {
	.main-content {
		padding: 12px 12px;
	}
}

button {
	background: var(--accent);
	cursor: pointer;
	transition: background 0.4s, color 0.4s;
	color: white;

	&:hover {
		background: var(--accent-hover);
	}

	&:disabled {
		background: var(--disabled-btn);
		color: #aaa;
	}

	&:not(.fab) {
		border: none;
		outline: none;
		padding: 8px 16px;
		border-radius: 4px;
	}

	i.material-icons {
		margin-top: 6px;
	}

	&.fab {
		padding: 6px;
		border-radius: 50%;
		height: 48px;
		width: 51px;
	}
}