@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #353b4b;
	--darker-background: #2f333d;
	--darkest-background: #2a2d33;
	--foreground: #f0f0f0;
	--accent: #008acc;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	width: 100%;
	background: var(--darker-background);
	color: white;

	h1 {
		text-align: center;
		width: 100%;
		margin: 0;
	}
	button.fab {
		position: relative;
	}
}

.main-content {
	flex: 1;
	overflow-y: auto;
	padding: 12px 64px;
	@media screen and (max-width: 600px) {
		padding: 12px 12px;
	}
	width: 100%;
}

button.with-icon {
	background: var(--accent);
	transition: background 0.4s;

	i.material-icons {
		margin-top: 6px;
	}

	&:hover {
		background: #0077cc;
	}

	&:disabled {
		background: #444d62;
	}
}

button.fab {
	padding: 6px;
	border-radius: 50%;
	height: 48px;
	width: 48px;

}