@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #353b4b;
	--darker-background: #2f333d;
	--darkest-background: #2a2d33;
	--foreground: #f0f0f0;
	--accent: #008acc;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	width: 100%;
	background: var(--darker-background);
	color: white;

	h1 {
		text-align: center;
		width: 100%;
		margin: 0;
	}
}

#messages {
	flex: 1;
	overflow-y: auto;
	padding: 12px 64px;
	@media screen and (max-width: 600px) {
		padding: 12px 12px;
	}
	width: 100%;

	div.chatMessage {
		margin: 20px 0;
		padding: 8px 18px;
		border-radius: 24px;
		background: #f0f0f0;
		width: 60%;

		&.user {
			margin-left: auto;
			background: var(--accent);
			border-top-right-radius: 0px;
		}

		&:not(.user) {
			background: #444d62;
			border-top-left-radius: 0px;
		}

		ul {
			list-style-type: disc;
			margin-left: 24px;
		}

		ol {
			list-style-type: decimal;
			margin-left: 24px;
		}

		h3 {
			font-weight: bold;
			font-size: 1.25rem;
			margin-top: 12px;
			margin-bottom: 4px;
		}

		pre {
			padding-left: 32px;
			padding-top: 8px;
			padding-bottom: 8px;
			margin: 8px 0;
			background: rgba(0, 0, 0, 0.075);
			border-radius: 8px;
			overflow-x: auto;
		}
	}
}

#messageBox {
	padding: 1.8rem;
	position: sticky;
	bottom: 0;
	z-index: 1;
	width: 100%;
	background: var(--darker-background);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;

	input {
		width: calc(100% - 12px - 3rem);
		border-radius: 4px;
		background: var(--background);
	}

	input,
	button {
		height: 3rem;
		padding: 0 1rem;
		border: none;
		border-radius: 4px;
		color: #fafafa;

		&:focus {
			outline: none;
		}
	}
}

button.with-icon {
	background: var(--accent);
	transition: background 0.4s;

	i.material-icons {
		margin-top: 6px;
	}

	&:hover {
		background: #0077cc;
	}

	&:disabled {
		background: #444d62;
	}
}

button.fab {
	padding: 6px;
	border-radius: 50%;
	height: 48px;
	width: 48px;

}