body {
	/* ensure smooth theme transitions: */
	transition: background 0.4s, color 0.2s;
}

#settings-table {
	td {
		padding: 8px;
		vertical-align: top;
	}
	textarea, input {
		min-width: 300px;
	}
}

.light {
	textarea, input {
		background: #f0f0f0;
		color: #333;
	}
}